#!/usr/bin/make -f
#
# debian/rules for openwrt-meta
#
# Copyright (c) 2014 Alexander List  <alex@debian.org>

SHELL := sh -e

build:
			dh_testdir

clean: 		debian/control
			dh_testdir
			dh_testroot
			dh_clean

debian/control: $(control_files)
			rm -f debian/control.tmp
			for i in $^; do \
				sed 's/RELEASE_NAME/$(RELEASE_NAME)/g' $$i >> debian/control.tmp; \
				echo >> debian/control.tmp; \
			done
			rm -f $@
			mv debian/control.tmp $@

install:	build
			dh_testdir
			dh_testroot
			dh_clean -k

%:
			dh $@

